<h1 class="my-3">New Place</h1>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </p>
  <p>
    <%= form.submit "Create Place", class: "btn btn-outline-primary" %>
    <a href="/places/" class="btn btn-outline-danger">Cancel New Place</a>
  </p>
<% end %>